body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page {
    margin: 10px;
    display: grid;
    grid-template-columns: 1200px auto;
    grid-gap: 20px;
}

@media only screen and (max-width: 1600px) {
    #page {
        grid-template-columns: 1200px;
        grid-template-rows: 800px auto;
    }
} 

#canvas-wrapper {
    grid-row: 0 auto;
    display: inline-block;
}

#canvas-wrapper, #controls > div {
    outline: 3px solid #888;
    margin-bottom: 20px;
}

#controls {
    display: flex;
    flex-direction: column;
}

.options {
    font-size: 20px;
    padding: 5px;
}

.options > div {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

select {
    font-size: 20px;
}

#draw-options label {
    padding: 0 10px 0 2px;
}

label {
    user-select: none;
}

.options p {
    margin: 0;
}

#line-options > div {
    margin-bottom: 5px;
}

.options input[type=range]+span, .options label+select {
    margin-left: 8px;
}

h1 {
    display: none;
}

footer {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: #bbb;
}

footer a {
    color: #248;
}

footer a:visited {
    color: #4c3370;
}

footer a:hover {
    color: #25a;
}